<footer >
    <div class="footer">
      <div class="contacto">
        <h3>Contacto</h3>
        <p>
          Mision Plaza<br>
          Direccion: Nueva York 4148, Villa Devoto.<br>
          Tel: 4501-3030<br>
          Horario: 10 a 00hs
        </p>
  
      </div>
  
      <div class="redes">
        <h3>Redes Sociales</h3>
      <div class="enlaces">
       <a href=""><img src="./images/facebook.png" alt=""></a>
       <a href=""><img src="./images/instagram.png" alt=""></a>
      </div>
      </div>
  
      <div class="pago">
        <h3>Medios de Pago</h3>
        <div>
        <a href=""><img src="./images/mastercard.png" alt=""></a>
        <a href=""><img src="./images/visa.png" alt=""></a>
        <a href=""><img src="./images/credit-card.png" alt=""></a>
        </div>
        </div>
  
  
    </div>
  
  </footer>
   
  <!--  scrips de bootstrap-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>