<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/f8e68f2557.js" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="../public/stylesheets/cargaprod.css">
  <title>Document</title>
</head>
<body class="conteiner-fluid">

  <!--ENCABEZADO-->
  <header class="conteiner">
  
<div class="row">

<div class="col-12 claja">
  <a class="item" href=""><img class="col-8 logo" src="../public/images/logo.png" alt=""></a>
</div>

<div class="menu2">
  <ul class="row">
    <li class="col-12"><a class="menu" href="">Menu</a></li>
    <li class="col-12"><a class="menu" href="">Galeria</a></li>
    <li class="col-12"><a class="menu" href="">Sucursales</a></li>
    <li class="col-12"><a class="menu" href="">Reservas</a></li>
  </ul>
</div>

<div class="regis" >
  <ul >
    <li ><a href=""><i class="fas fa-user-edit"></i>Login</a></li>
    <li ></i><a href=""><i class="fas fa-user-plus"></i>Registro</a></li>
  </ul>
</div>

<div >
  <a  href="">
  <i class="fas fa-cart-arrow-down"></i>
  </a>
  </div>
  
</div>

</header> 

<!--Contenido-->

<h2>Carga de Productos</h2>
<div>
<form action="">
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre"><br><br>
    <label for="descripcion">Descripcion</label>
    <textarea name="mensaje"></textarea><br><br>
    <label for="sector">Sector</label>
    <select name="sector"id="">
        <option value="par">Parrilla</option>
        <option value="piz">Pizza</option>
        <option value="san">Sandwich</option>
        <option value="vin">Vinos</option>
        <option value="pos">Postres</option>
            </select><br><br>
            <label for="precio">Precio</label>
        <input type="number" name="precio"><br><br>

        <input type='file' name='foto'>

        <input type="submit" value="cargar producto">

</form>

</div>










<footer class="conteiner">
    <div class="row">
      <div>
        <h3 class="col-12">Contacto</h3>
        <p>
          Mision Plaza<br>
          Direccion: Nueva York 4148, Villa Devoto.<br>
          Tel: 4501-3030<br>
          Horario: 10 a 00hs
        </p>
  
      </div>
  
      <div class="redes">
        <h3 class="col-12">Redes Sociales</h3>
       <a href=""><img src="../public/images/facebook.png" alt=""></a>
       <a href=""><img src="../public/images/instagram.png" alt=""></a>
      </div>
  
      <div class="pago">
        <h3 class="col-12">Medios de Pago</h3>
        <a href=""><img src="../public/images/mastercard.png" alt=""></a>
        <a href=""><img src="../public/images/visa.png" alt=""></a>
        <a href=""><img src="../public/images/credit-card.png" alt=""></a>
        </div>
  
  
    </div>
  
  </footer>
  
  
  
    
  
  
  
  
  
  
  
  
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
  </html>
  