<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/f8e68f2557.js" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="../public/stylesheets/carrito.css">
  <title>Mi Carrito</title>
</head>
<body>

  <!--ENCABEZADO-->
<header>
  
<div class="menus">

<div class="logo">
  <a href=""><img src="../public/images/logo.png" alt=""></a>
</div>

<div class="menu">
  <ul>
    <li ><a href="./carta.html">Menu</a></li>
    <li ><a href="">Galeria</a></li>
    <li ><a href="">Sucursales</a></li>
    <li><a href="">Reservas</a></li>
  </ul>
</div>

<div class="regis" >
  <ul >
    <li ><a href=""><i class="fas fa-user-edit"></i>Login</a></li>
    <li ><a href="./registro.html"><i class="fas fa-user-plus"></i>Registro</a></li>
    <li><a href="./carrito.html"><i class="fas fa-cart-arrow-down"></i>Mi carrito</a></li>
  </ul>
</div>
  
</div>
</header>

<!--Contenido-->

<h1>Mi Carrito</h1>

<div class="caja">
  
  <h2>Mi Pedido</h2>
  <div class="pedido">
    <section>
      <img src="../public/images/comidas/pizza.jpg" alt="">
      <h3>Muzzarella</h3>
      <form action="">
        <label for="">Cantidad</label>
        <select name="cantidad" id="">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>

        <button type="button">QUITAR</button>
        <button type="button">EDITAR</button>
      </form>
    </section>
    <section>
      <img src="../public/images/comidas/empanadas.jpg" alt="">
      <h3>Empanadas</h3>
      <form action="">
        <label for="">Cantidad</label>
        <select name="cantidad" id="">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>

        <button type="button">QUITAR</button>
        <button type="button">EDITAR</button>
      </form>
    </section>
  </div>


  <div class="detalle">
<h2>Detalles del Pedido</h2>
<section>
  <h3>Muzzarella  $395</h3>
  <p>-Ingredientes: Salsa de tomate, muzzarella y aceitunas(8 porciones)</p>
</section>
<section>
  <h3>Empanadas $360</h3>
  <p>-Carne cortada a cuchillo</p>
</section>
<h2>Total</h2><h2>$755</h2>
<button type="button">FINALIZAR COMPRA</button>
  </div>
</div>

<footer >
  <div class="footer">
    <div class="contacto">
      <h3>Contacto</h3>
      <p>
        Mision Plaza<br>
        Direccion: Nueva York 4148, Villa Devoto.<br>
        Tel: 4501-3030<br>
        Horario: 10 a 00hs
      </p>

    </div>

    <div class="redes">
      <h3>Redes Sociales</h3>
    <div class="enlaces">
     <a href=""><img src="../public/images/facebook.png" alt=""></a>
     <a href=""><img src="../public/images/instagram.png" alt=""></a>
    </div>
    </div>

    <div class="pago">
      <h3>Medios de Pago</h3>
      <div>
      <a href=""><img src="../public/images/mastercard.png" alt=""></a>
      <a href=""><img src="../public/images/visa.png" alt=""></a>
      <a href=""><img src="../public/images/credit-card.png" alt=""></a>
      </div>
      </div>


  </div>

</footer>



  









  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>

