<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/f8e68f2557.js" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="../public/stylesheets/style.css">
  <title>Home</title>
</head>
<body class="conteiner-fluid">

  <!--ENCABEZADO-->
  <header>
  
    <div class="menus">
    
    <div class="logo">
      <a href=""><img src="../public/images/logo.png" alt=""></a>
    </div>
    
    <div class="menu">
      <ul>
        <li ><a href="./carta.html">Menu</a></li>
        <li ><a href="">Galeria</a></li>
        <li ><a href="">Sucursales</a></li>
        <li><a href="">Reservas</a></li>
      </ul>
    </div>
    
    <div class="regis" >
      <ul >
        <li ><a href=""><i class="fas fa-user-edit"></i>Login</a></li>
        <li ><a href="./registro.html"><i class="fas fa-user-plus"></i>Registro</a></li>
        <li><a href="./carrito.html"><i class="fas fa-cart-arrow-down"></i>Mi carrito</a></li>
      </ul>
    </div>
      
    </div>
    </header>

<!--Banner-->
<div class="sucursal">
<img src="../public/images/misionplaza.jpg" alt="">
</div>


<div>
<h2>Nuestra Historia</h2>

<p>Misión Plaza es un restaurante de los mas antiguos ubicado en Villa Devoto, frente a la plaza Arenales, ícono característico para los Devotenses.Se destacan por su ambiente y atención inmejorable.<br>
En el Legendario Misión Plaza, te esperan con delicias, ambientes muy cómodos, espaciosos y la mejor atención, ademas, encotrás un increible sector para los niños mas exigentes, sí, puden jugar con juegos didacticos, con juegos de plaza o hasta con juegos electronicos, pero ojo!, solo para niños...
  </p>

</div>
<h2>Mas de Nosotros</h2>
<!--carrusel-->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../public/images/fotos/salon primer piso/salon.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../public/images/fotos/segundo piso/2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../public/images/fotos/patio juegos/unnamed (1).jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../public/images/fotos/sucursales/estiloMision.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<footer >
  <div class="footer">
    <div class="contacto">
      <h3>Contacto</h3>
      <p>
        Mision Plaza<br>
        Direccion: Nueva York 4148, Villa Devoto.<br>
        Tel: 4501-3030<br>
        Horario: 10 a 00hs
      </p>

    </div>

    <div class="redes">
      <h3>Redes Sociales</h3>
    <div class="enlaces">
     <a href=""><img src="../public/images/facebook.png" alt=""></a>
     <a href=""><img src="../public/images/instagram.png" alt=""></a>
    </div>
    </div>

    <div class="pago">
      <h3>Medios de Pago</h3>
      <div>
      <a href=""><img src="../public/images/mastercard.png" alt=""></a>
      <a href=""><img src="../public/images/visa.png" alt=""></a>
      <a href=""><img src="../public/images/credit-card.png" alt=""></a>
      </div>
      </div>


  </div>

</footer>



  









  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
