<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/f8e68f2557.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/stylesheets/registro.css">
    <title>Registro</title>
</head>
<body class="conteiner-fluid"> 
    <header class="conteiner">
  
        <div class="row">
    
          <nav class="col-4">
            <ul class="menu">
              <li><a href="">Carta</a></li>
              <li><a href="">Galeria</a></li>
            </ul>
          </nav>
          
          <nav class="col-4">
            <a  href=""><img class="col-4" src="/images/logo.png" alt=""></a>
          </nav>
          <nav class="col-4">
            <ul class="menu">
    
              <li>
                <a href="">Reservas</a>
              </li>
    
              <li><a href="">Sucursales</a></li>
            </ul>
          </nav> 
          
        
    
        <div class="col-2">
          <nav class="log">
            <i class="fas fa-user-edit"></i>
            <a href="">Login</a>
          </nav>
    
          <nav class="reg">
            <i class="fas fa-user-plus"></i>
            <a href="">Registro</a>
          </nav>
    
          <nav class="carrito">
            <i class="fas fa-cart-arrow-down"></i>
          </nav>
          </div>
    
        </div> <!--termina elrow-->
    
    </header>
</body>
</html>